<%= form_with(model: person, class: "contents w-full") do |form| %>
  <div class="my-2 flex">
    <%= form.label :cuil, "CUIL", class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :cuil, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:cuil, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :last_name,"Apellido", class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :last_name, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:last_name, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :name,"Nombre",class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :name, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    
  </div>
  <%# inline_error_for(:name, person) %>
  <div class="my-2 flex">
    <%= form.label :birthdate,"Fecha de nacimiento", class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.date_field :birthdate, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:birthdate, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :phone,"Teléfono", class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :phone, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:phone, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :celphone,"Celular",class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :celphone, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:celphone, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :email,"Email",class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :email, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:email, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :direction,"Dirección",class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.text_field :direction, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-3/5 sm:w-6/12" %>
    <%# inline_error_for(:direction, person) %>
  </div>

  <div class="my-2 flex">
    <%= form.label :city_id,"Ciudad ", class: "md:text-left w-3/12 sm:w-2/12 2xl:w-1/12 flex content-center" %>
    <%= form.select(:city_id, @cities.collect { |city| [ "#{city.province.name} - #{city.name}", city.id ]}, { include_blank: true },
                    data: { controller: "tselect"},
                    class: "w-3/5 sm:w-6/12 inline-block rounded-sm cursos-pointer focus:inline-none",
                    placeholder: "Seleccione una ciudad") %>
  </div>

  <div class="inline">
    <%= form.submit "Registrar", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <button type="button" data-action="click->turbo-modal#hideModal" class="rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer">Cancelar</button>
  </div>
<% end %>
