<div id="<%= dom_id iva_condition %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= iva_condition.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= iva_condition.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= iva_condition.active %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this iva condition", iva_condition, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this iva condition", edit_iva_condition_path(iva_condition), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
