<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cuit:</strong>
    <%= company.cuit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Direction:</strong>
    <%= company.direction %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= company.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contract:</strong>
    <%= company.contract %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Operator:</strong>
    <%= company.operator %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= company.comment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iva condition:</strong>
    <%= company.iva_condition_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company category:</strong>
    <%= company.company_category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Province:</strong>
    <%= company.province_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= company.city_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this company", company, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this company", edit_company_path(company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
