<div id="<%= dom_id company_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company_category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quota:</strong>
    <%= company_category.quota %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is partner:</strong>
    <%= company_category.is_partner %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company_category.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= company_category.active %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this company category", company_category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this company category", edit_company_category_path(company_category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
